---
---

@import "{{ site.theme }}";

body {
  header {
    a.button {
      display: none;
    }
  }
}

#sidebar {
  .repo-owner {
    display: none;
  }
}

article {
  p.meta {
    font-size: 0.8em;
    margin: -0.5em 0 1em 2em;
  }
}
