---
---

@import "{{ site.theme }}";

body {
  header {
    h2 {
      display: none;
    }
    a.button {
      display: none;
    }
  }
}

#sidebar {
  .repo-owner {
    display: none;
  }
}

article {
  margin: 2.5em 0;
  p.meta {
    font-size: 0.8em;
    margin: -0.5em 0 1em 2em;
  }
}
